{% extends "application.html" %}
{% block content %}
<div class="fullscreen__container" style="flex: 1; display: flex; justify-content: center; align-items: center">
    <script>
        function generatePassword() {
            if ($('#inputId').val() != "")
                $.get('/generatePassword', {'inputId': $('#inputId').val()}, function (response) {
                    $('#outputPassword').val(response)
                })
            else
                alert('Введите идентификатор')
        }
    </script>
    <div class="container">
        <div class="jumbotron">
            <h2 class="text-center mb-3">Генерация пароля</h2>
            <div class="form-group row">
                <label for="inputId" class="col-sm-2 col-form-label"><b>Идентификатор</b></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputId"
                           oninput="$('#LenId').val($('#inputId').val().length)">
                </div>
            </div>
            <div class="form-group row">
                <label for="LenId" class="col-sm-2 col-form-label"><b>Длина идентификатора</b></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="LenId">
                </div>
            </div>
            <div class="form-group row">
                <label for="outputPassword" class="col-sm-2 col-form-label"><b>Сгенерированный пароль</b></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="outputPassword">
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="generatePassword()">Сформировать пароль</button>
        </div>
    </div>
</div>
{% endblock %}